Q. Indexing and Negative Indexing (How can You reverse a string through indexing?)

In [1]:
def reverse(string):
    string = string[::-1]
    return string
s = "alok"
print(s)

print(reverse(s))

alok
kola

Q. example given the string "Welcome to the danger zone" should become "zone danger the to Welcome" and not enoz regnad eht ot emocleW

In [2]:
def rev_sentence(sentence):
    words = sentence.split(' ')
    reverse_sentence = ' '.join(reversed(words))
    return reverse_sentence
if __name__ == "__main__":
    input = 'Welcome to the danger zone'
    print(rev_sentence(input))

zone danger the to Welcome

Q. You are given a string input, let's say "Hello World!". Your output should be, how many times each character is showing up in the string. So, in this example, it should write:

H: 1 e: 1 l: 3 o: 2

In [5]:
test_str = "HelloWorld!"
all_freq = {}

for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
print ( str(all_freq))

{'H': 1, 'e': 1, 'l': 3, 'o': 2, 'W': 1, 'r': 1, 'd': 1, '!': 1}

Q. What is difference between python scripts and Modules?

In [ ]:
the runnable python programs that do something while we exicute them is known as python scripts.
python modules are those which are we need to import by which defined members of that module can get exicuted in the script

Q. What is the difference between lists and tuples? Which is faster, which is more size ..etc?

In [ ]:
tuples are immutable and list are mutable.tupples are more memory effecient comparing with the list.

Q. List append and extend method difference?

In [ ]:
In append it adds an element to the end of the list and the length of the list can be increased only 1 where as in case of extend Each element of the iterable passed as an argument gets appended to the end of the list and the list increased depending on the no. of added elements

Q. Remove, pop and delete method difference on list?

In [ ]:
Remove() will delete only one value from a list at a time,pop() was also works as the same as remove() but in case of delete() we can also delete the whole list at atime

Q. Check if a list contains an element

In [7]:
list = [ 1, 6, 3, 5, 3, 4 ]

for i in list:
	if(i == 4) :
		print ("Element Exists")

Element Exists

Q. What does “del” do?

In [ ]:
del() removes one element from a specific index from a list

Q. Find the index of the 1st matching element?

In [8]:

list = [10, 20, 10, 20, 30, 40, 50]
print(list.index(10))

0

Q. Remove all elements from a list?

In [9]:
a = [1, 2, 3, 4, 5]
del a[:]
print(a)

[]

Q. Count the occurrence of a specific object in a list

In [10]:
list = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
def countX(list, x):
	count = 0
	for ele in list:
		if (ele == x):
			count = count + 1
	return count
print('{} has occurred {} times'.format(x, countX(list, x)))

8 has occurred 5 times

Q. Return the length of a list?

In [11]:
list = [1, 4, 5, 7, 8]
count = 0
for i in list:
    count = count + 1
print(count)

5


Q. Reverse a list in Python 
   list1 = [100, 200, 300, 400, 500] --- >[500, 400, 300, 200, 100]


Q. Concatenate two lists index-wise 
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"] --- >['My', 'name', 'is', 'Kelly']

In [12]:
lst = [100, 200, 300, 400, 500]
def Reverse(lst):
    return [ele for ele in reversed(lst)]
print(Reverse(lst))

[500, 400, 300, 200, 100]


Q. Turn every item of a list into its square 
   numbers = [1, 2, 3, 4, 5, 6, 7] --- >[1, 4, 9, 16, 25, 36, 49]

In [13]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [number ** 2 for number in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]


Q. Concatenate two lists in the following order -- 
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"] ----- >['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [14]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
res = [x + y for x in list1 for y in list2] 
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Q. Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400] ---- >
10 400
20 300
30 200
40 100

In [15]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x, y in zip(list1, list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

Q. Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"] --- >["Mike", "Emma", "Kelly", "Brad"]

In [16]:
list = ["Mike", "", "Emma", "Kelly", "", "Brad"]
while ("" in list):
    list.remove("")
print(str(list))

['Mike', 'Emma', 'Kelly', 'Brad']


Q. Add new item to list after a specified item --- >
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40] --->[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [17]:
list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Q. Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]


# sub list to add
sub_list = ["h", "i", "j"]

---- > ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [18]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
new_list = ["h", "i", "j"]
list1[2][1][2].extend(new_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

Q.Replace list’s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20] ---- >[5, 10, 15, 200, 25, 50, 20]

In [19]:
list = [5, 10, 15, 20, 25, 50, 20]
index = list.index(20)
list[index] = 200
print(list)

[5, 10, 15, 200, 25, 50, 20]